<app-header titulo="Registro"></app-header>

<ion-content>

<img src="assets/img/reg/reg.svg"  style="width:100%; height:40%;">

<form  #formulario="ngForm" (ngSubmit) ="onSubmit()">



<ion-item>
    <!-- <ion-label>Nombre Completo: </ion-label> -->
        <ion-input type="name" placeholder="Nombre completo:"
                    name="name" [(ngModel)]= "usuario.name"
                    required>
        </ion-input>
</ion-item>

<ion-item>
    <!-- <ion-label>Nombre de usuario: </ion-label> -->
        <ion-input type="nickname" placeholder="Nombre de usuario:"
                    name="nickname" [(ngModel)]= "usuario.nickname"
                    required>
        </ion-input>
</ion-item>

<ion-item>
    <!-- <ion-label>Telefono: </ion-label> -->
        <ion-input type="tel" placeholder="Número de teléfono:"
                    name="tel" [(ngModel)]= "usuario.telefono"
                    required>
        </ion-input>
</ion-item>




<ion-item>
    <!-- <ion-label>Email: </ion-label> -->
    <ion-input type="email" placeholder="Correo electrónico:"
                name="email" [(ngModel)]= "usuario.email"
                pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                required>
    </ion-input>
</ion-item>

<ion-item>
    <!-- <ion-label>Password: </ion-label> -->
    <ion-input type="password" placeholder="Contraseña:"
        name="password" [(ngModel)]= "usuario.password"
        required>
    </ion-input>
</ion-item>



<ion-button [disabled] ="formulario.invalid"
        type="submit" expand="block"
        routerLink='/inicio'>
    Registrar 
    </ion-button>

</form>




</ion-content>

