<ion-header class="ion-no-border" mode="ios">
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button defaultHref="inicio" text="Back" color='primary' mode="ios">
            </ion-back-button>
        </ion-buttons>


        <ion-title color="primary" class="ion-text-capitalized">{{titulo}}</ion-title>


    </ion-toolbar>
</ion-header>

<ion-content>


    <p class="text1">Error 404</p>


    <p class="text1">Página no encontrada</p>
    <ion-img src="assets/img/404.jpg"></ion-img>

    <p class="text1">La página esta sufriendo ansiedad, por favor vuelva intentarlo en otro momento</p>

    




</ion-content>